<ng-container *ngIf="ts.todos | async as todos">
    <div class="grid grid-cols-[auto,auto,auto,auto] gap-3 justify-items-start">
        <ng-container *ngIf="!todos.loading; else loading">
            <ng-container *ngIf="todos.data.length; else empty">
                <ng-container *ngFor="let todo of todos.data; trackBy: identify">
                    <app-todo-item class="contents" [todo]="todo" />
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <app-todo-form />
</ng-container>
<ng-template #empty>
    <p><b>Add your first todo item!</b></p>
</ng-template>
<ng-template #loading>
    <p>Loading...</p>
</ng-template>